
/* @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap'); */



.main{
    width: 100%;
}
.btn-submit{
    background: #00deff;
    color: #012b64;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 1px solid #012b64;
    border-radius: 7px;
    width: auto;
    padding: 10px 35px;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin:10px;
    flex: none;
    box-shadow: 0 0 15px 5px #b6ecf475;
}
.btn-submit:hover{
    background: #012b64;
    color: #00deff;
    border: 1px solid #00deff;
    box-shadow: 0 0 15px 3px #84c3f8b8;
}
/*------------- header ---------------------*/


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: none;
}
/*+++++++++++++ direction +++++++++++++++*/
.dir-l{
    direction: ltr;
}
.dir-r{
    direction: rtl;
}

/*+++++++++++++ float +++++++++++++++*/
.f-l{
    float: left;
}
.f-r{
    float: right;}
/*+++++++++++++ Magins +++++++++++++++*/
.mg10{
    margin: 10px;
}
.mg20{
    margin: 20px;
}
.mg30{
    margin: 30px;
}
.mgb10{
    margin-bottom: 10px;
}
.mgb20{
    margin-bottom: 20px;
}
.mgb30{
    margin-bottom: 30px;
}
.mgr10{
    margin-right: 10px;
}
.mgr20{
    margin-right: 20px;
}
.mgr30{
    margin-right: 30px;
}
.mgl10{
    margin-left: 10px;
}
.mgl20{
    margin-left: 20px;
}
.mgl30{
    margin-left: 30px;
}
/*----------------- slider --------------------*/

svg {
    outline: 0;
}

/*-------------------- services ---------------*/


/*------------ resome section -------------------*/





.map-contact iframe{
    width: 100%;
    border-radius: 10px;
}
.project-slider-control{
    width: 100%;
    position: absolute;
    top: 35%;
    font-size:45px;
    color: #c0bdbd;
    display: none;
}
.project-slider-control .slick-next-p{
    float: right;
    margin-right:8%;
    color: #00ffe7;
    transition: all 0.2s ease-in-out;
}
.project-slider-control .slick-prev-p{
    float: left;
    margin-left: 8%;
    color: #00ffe7;
    transition: all 0.2s ease-in-out;
}
.project-slider-control .slick-next-p:hover , .project-slider-control .slick-prev-p:hover{
    color: #ffffffff;
}
.project-slider-control .slick-next-p:active, .project-slider-control .slick-prev-p:active{
    color: #012b64;
}
#what-do-i:hover .project-slider-control{
    display: block !important;
}
.slid-project .resome-content-right{
    padding: 0;
}
.slid-project .resome-content-right .title-resome h3{
    font-size: 45px !important;
    color: #00ffe7;
    padding: 0 10px 20px 10px !important;
}
.slid-project .resome-content-right .resome-text p.techno{
    margin-top:10px;
}
.slid-project .resome-content-right .resome-text p.techno span{
    border: 1px solid #00ffe7;
    padding: 3px 5px;
    font-size: 14px;

}
.slid-project .view-live{
    margin: 50px auto;
    text-align: center;
}
.slid-project .view-live .btn-live{
    font-size: 20px;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #fff;
    color: #021b64;
    border: 1px solid #0d70ab;
    border-radius: 6px;
    box-shadow: 0 0 9px 0 #00f4e0;
    transition: all 0.2s ease-in-out;
}
.slid-project .view-live .btn-live:hover{
    background-color: #021b6445;
    color: #ffffff;
    border: 2px solid #00fae4;
    box-shadow: 0px 0 9px 0px #fff;
}

/*------------- post slider section------------*/
.blog-posts .blog-slider-posts{
    margin-bottom: 50px;
}
.blog-posts .blog-slider-posts  .title-section {
}
.blog-posts .blog-slider-posts  .title-section h3{
    font-size: 50px;
    color: #0c6faa;
    text-align: center;
    margin-top: 50px;
    padding: 20px 0 10px 0;
}
.blog-posts .blog-slider-posts .title-section hr{
    width: 15%;
    background-color: #00ffe7;
    border: 3px solid #00ffe7;
    border-radius: 30px;
    margin-bottom: 50px;

}
.blog-posts .blog-slider-posts .container .slider-blog-post{
    border-radius: 30%;
    background-color: #ffffff;
    padding: 100px;
    box-shadow: 0px 0px 30px 13px #ececec;
    overflow: hidden;
    text-align: center;
}
/*.blog-posts .blog-slider-posts .container .slider-blog-post .slider-post-content{*/
/*width: 100% !important;*/
/*}*/
.blog-posts .blog-slider-posts .container .slider-blog-post .post:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.blog-posts .blog-slider-posts .container .slider-blog-post .slick-list .slick-track .slider-post-content .post a .img-thumbnail {
    border-radius: 20px;
    box-shadow: 0px 0px 12px 7px #ececec;

}

.post-blog-control{
    width: 99%;
    position: absolute;
    top: 60%;
    font-size:45px;
    color: #c0bdbd;
    display: none;
}
.post-blog-control .slick-next{
    float: right;
    margin-right:9%;
    color: #b8b2b2;
    transition: all 0.2s ease-in-out;
}
.post-blog-control .slick-prev{
    float: left;
    margin-left: 8%;
    color: #b8b2b2;
    transition: all 0.2s ease-in-out;
}
.post-blog-control .slick-next:hover , .post-blog-control .slick-prev:hover{
    color: #012b64;
}
.post-blog-control .slick-next:active, .post-blog-control .slick-prev:active{
    color: #00ffe7;
}
.blog-posts .blog-slider-posts .container .slider-blog-post:hover .blog-slider-posts .post-blog-control{
    display: block !important;
}
/*---------------------- footer section -----------------------*/


/*========================== Blog ======================*/
.head-page{
    position: relative;
    padding-top: 120px;
    padding-bottom: 100px;
}
.head-page .title-page{
    width: 1280px;
    max-width: 95%;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.head-page .title-page h1{
    font-size: 60px;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0px 3px 1px #020202;
}
.head-page .breadcrumbs{
    background-color: transparent;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: #ffffff;
}
.head-page .breadcrumbs i{
    color: #ffffff;
    margin:0 5px;
}
.head-page .breadcrumbs span{
    color: #ffffff;
}
.head-page .breadcrumbs a{
    font-size:20px;
    color: #00deff;
    text-decoration: none;
}
.head-page .breadcrumbs a:hover{
    text-shadow: 0px 1px 1px #020202;
}
.head-page .breadcrumbs a span i{
    color: #00deff;
}


.main-content-single-page .sidebar-section{
    float: right;
}

.post-blog .post-info{
    padding-bottom: 30px;
}
.post-blog .post-info .title-post{}
.post-blog .post-info .title-post h2{
    font-size: 26px;
    padding:15px 10px;
    margin-top:35px;
    color: #0a5a95;
}
.post-blog .post-info .metadata-post{
    margin: 10px 0 20px;
    padding: 0 10px;
    color: #5e5e5e;
}
.post-blog .post-info .metadata-post span{
    font-size: 16px;
}
.post-blog .post-info .metadata-post span i{
    color: #00deff;
    font-size:18px;
}
.post-blog .post-info .excerpt-post{}
.post-blog .post-info .excerpt-post p{
    font-size: 18px;
    padding:0 10px;
    line-height: 28px;
    color: #434343;
    direction: ltr;
}

/*=================== Contact Us ======================*/
.header-contact {
    background-image: url(../images/bg-img.jpg);
    background-position: 30% 100%;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}


/*=============== Single Portfolio ================*/
.single-portfilio .portfolio-description .portfolio-content{
    padding: 10px;
    box-shadow: 0 0 8px 5px #ececec ;
    background-color: #fff;



}

.single-portfilio .portfolio-description .portfolio-content p{
    font-size: 17px;
    word-break: break-all;
    line-height: 27px;
}

.single-portfilio .portfolio-images .portfolio-slider{
    padding: 10px;
    box-shadow: 0 0 8px 5px #ececec ;
    background-image: linear-gradient(135deg,#012b64,#00ffe7);
}

/*++++++++++++++++++ info portfolio ++++++++++++++++++++*/
.info-portfolio{
    padding: 10px;
    box-shadow: 0 0 8px 5px #ececec ;
    background-image: linear-gradient(270deg, white, #ffffff00);
    margin-top:10px;
}
.list {
    list-style: none;
    width: 600px;
    max-width: 90%;
}

.item {
    display: block;
    clear: both;
    counter-increment: list;
    padding-bottom: 4rem;
    font-size: 1.1rem;
    line-height: 1.375;
    position: relative;
}

.item:before {
    content: counter(list);
    width: 5rem;
    height: 5rem;
    float: left;
    margin: 0 1.5rem 0.75rem 0;
    color: #fdfdfd;
    background: #012d66 linear-gradient(to bottom right, #012e66 12%, #01fee7);
    text-shadow: 0 0 2px #015c82;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    shape-outside: ellipse();
    z-index: 1;
}

.item:after {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: #012e66;
    z-index: -1;
    border-top-left-radius: 3px;
}

.headline {
    padding: 0rem 0 0 0;
    margin: 0 0 1rem 0;
}



/*+++++++++++++++++ view-live +++++++++++++==*/
.view-live{
    margin: 50px auto;
    text-align: center;
}
.view-live .btn-live{
    font-size: 22px;
    text-decoration: none;
    padding: 15px 40px;
    background-color: #fff;
    color: #021b64;
    border: 1px solid #0d70ab;
    border-radius: 20px;
    box-shadow: 0px 0 9px 0px #00f4e0;
    transition: all 0.2s ease-in-out;
}
.view-live .btn-live:hover{
    background-color: #021b64;
    color: #ffffff;
    border: 2px solid #00fae4;
    box-shadow: 0px 0 9px 0px #021b64;
}

/*+++++++++++++++++ portfolio-cat-tag+++++++++++++++++++++++*/
.portfolio-cat-tag{
    margin-top: 50px;
    padding: 10px;
    box-shadow: 0 0 8px 5px #ececec ;
    background-color: #fff;

}
.portfolio-cat-tag .cat , .portfolio-cat-tag .tag {
    margin-top:10px;
}
.portfolio-cat-tag .cat p {}
.portfolio-cat-tag .cat p i ,.portfolio-cat-tag .tag p i{
    color: #012b64;
    border :none;
    margin-right:5px;
}
.portfolio-cat-tag .cat p a , .portfolio-cat-tag .tag p a{
    padding: 6px 12px;
    border-radius: 2px;
    display: inline-block;
    margin: 0 4px 10px 0;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid rgba(167,167,167,.16);
}
.portfolio-cat-tag .cat p a:hover , .portfolio-cat-tag .tag p a:hover {
    color: #ffffff;
    background-color: #012b64;
}
/*===================== portfolio version ===========*/
.portfolio-version{
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0 0 8px 5px #ececec ;
    background-color: #fff;
}
.portfolio-version p{
    color: #012b64;
}
/*========================portfolio technologies==========================*/
.portfolio-technologies{
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0 0 8px 5px #ececec ;
    background-color: #fff;
}
.portfolio-technologies p{

}
.portfolio-technologies p span{
    padding: 6px 12px;
    border-radius: 2px;
    display: inline-block;
    margin: 0 4px 10px 0;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid rgba(167,167,167,.16);
}
.portfolio-technologies p span:hover{
    color: #ffffff;
    background-color: #012b64;
}
/*============ Pagination ================*/
/**  pagination  **/
.pagination {
    direction: ltr;
    justify-content: center;
    margin: 15px auto;
}
.content-blog .pagination{
    margin: 50px auto !important;
}
.pagination .page-numbers , .pagination .post-page-numbers{
    min-width: 25px;
    height: 25px;
    text-decoration: none;
    display: inline-flex;
    background-color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 5px;
    margin: 0 7px;
    color: #012b64;
    border: 1px solid #012b64;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: all 0.4s ease-in-out;
}
.pagination .page-numbers:hover , .pagination .post-page-numbers:hover{
    color: #012b64 ;
    border-color: #012b64 ;
    box-shadow: 0 0 6px 1px #00f4e0;
}

.pagination .current{
    color: #a29e9e94;
    border-color: #a29e9e94;
    cursor: not-allowed;
}
.pagination .current:hover{
    box-shadow: none;
    color: #a29e9e94;
    border-color: #a29e9e94;
    cursor: not-allowed;
}

.pagination ul {
    padding: 10px 20px;
    margin: 0;
    border-radius: 5px;
    font-size: 15px;
    background-color: #ffffff;
    box-shadow: inset -2px 2px 6px #c3c3c3;
}

.pagination ul li.active .page-link {
    min-width: 25px;
    height: 25px;
    display: inline-flex;
    background-color: #fe4a49;
    line-height: 25px;
    text-align: center;
    border-radius: 5px;
    margin: 0 2px;
    color: #fff;
    border: 1px solid #fe4a49;
    align-items: center;
    justify-content: center;
}

.pagination ul li.disabled .page-link {
    min-width: 25px;
    height: 25px;
    display: inline-flex;
    background-color: #d8d8d8;
    line-height: 25px;
    text-align: center;
    border-radius: 5px;
    margin: 0 2px;
    color: #fff;
    border: 1px;
    align-items: center;
    justify-content: center;
}

.pagination ul .page-link {
    min-width: 25px;
    height: 25px;
    display: inline-flex;
    background-color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 5px;
    margin: 0 2px;
    color: #fe4a49;
    border: 1px solid #fe4a49;
    align-items: center;
    justify-content: center;
}

.pagination ul .page-link:hover {
    background-color: #fe4a49;
    color: #fff;
}

.pagination-per-page form {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-per-page form span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-per-page form .divider {
    margin: 0 5px;
}

.pagination-per-page form .per_pager {
    width: 40px;
    padding: 0;
    margin: 0;
    height: 25px;
    margin-right: 5px;
}
/*====================== End Pagination =========================*/

/*-------Recaptcha google-------*/
#recaptchafield0{
    text-align: center;
}
#recaptchafield0 div:first-child{
    width: 100% !important;
}
#recaptchafield1 div:first-child{
    width: 100% !important;
}
#recaptchafield2 div:first-child{
    width: 100% !important;
}
#recaptchafield3 div:first-child{
    width: 100% !important;
    text-align: center !important;
}
#recaptchafield4 div:first-child{
    width: 100% !important;
}

/*------- END Recaptcha google-------*/
/*------- comments section ----------*/
#commentCourse h3:first-of-type{
    font-size: 50px;
    color: #0c6faa;
    text-align: center;
    margin-top: 50px;
    padding: 20px 0 10px 0;
}
#commentCourse .comment-respond .comment-reply-title .crunchify-text h5{
    font-size: 30px;
    color: #0c6faa;
    text-align: left;
    padding: 20px 0 10px 0;
}
#commentCourse .comment-form .comment-notes{
    padding-bottom: 20px;
    color: #9a9c9c;
}
#commentCourse .comment-form .comment-form-cookies-consent{
    color: #9a9c9c;
}

#commentCourse hr{
    width: 15%;
    background-color: #00ffe7;
    border: 3px solid #00ffe7;
    border-radius: 30px;
    margin-bottom: 50px;
}
#commentCourse p[class^="comment-form"]{
    padding-bottom: 10px;
}
#commentCourse p.form-submit{
    text-align: center;
    padding: 15px;
}
#commentCourse #recaptchafield0 {
    text-align: center;
    padding: 10px;
}
#commentCourse .list-comments {
    display: block;
    padding: 10px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 12px #d8d8d8c2;
    margin-bottom: 3px;
    margin: 15px;
    transition: all 0.3s ease-in-out;
}

#commentCourse .list-comments:hover {
    box-shadow: 0 0 20px #b7b7b7;
    transform: translateY(-2px);
}

#commentCourse .list-comments .commenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
}

@media (max-width: 720px) {
    #commentCourse .list-comments .commenter {
        display: block;
    }
}

#commentCourse .list-comments .commenter .name, #commentCourse .list-comments .commenter .date {
    color: #585858;
    font-size: 13px;
    background-color: #f7f6f8;
    box-shadow: 0 0 2px #a9a9a9ad;
    margin: 0 3px;
    border-radius: 50px;
    padding: 5px 12px;
}
@media (max-width: 720px) {
    #commentCourse .list-comments .commenter .name, #commentCourse .list-comments .commenter .date {
        margin-bottom: 5px;
        text-align: center;
    }
}

#commentCourse .list-comments .text-comment {
    margin-top: 10px;
    padding: 0 5px;
    font-size: 14px;
    text-align: justify;
}

/* commement style 2*/
h3#comments, .comment-navigation, .comment-navigation:after, #respond:after, .comment-rss {
    display: block
}

ol.commentlist {
    width: 100%
}


ol.commentlist, li.authorcomment, li.comment, #respond h3, form#commentform, input#submit {
    margin: 0
}

ol.commentlist, ol.commentlist ul, form#commentform {
    padding: 0;
    text-align: left;
}

ol.commentlist {
    border-bottom: 1px solid #ccc
}

ol.commentlist ul {
    margin: 0 0 0 10px;
    padding: 0 10px 10px 50px;
}

li.authorcomment, li.comment  {
    border: 1px solid #ccc;
    border-top: 2px solid #05418ba3;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #c5c5bd8c;
}

li.authorcomment, li.comment {
    padding: 10px 0 0 10px;
    list-style: none;
    border-bottom: none;
}

li.even {
    background: #fff;
    margin-bottom: 15px;
}

li.odd {
    background: #efefef;
    margin-bottom: 15px;
}
.comment-body{
    padding: 10px 0 10px 0;
}

.authorcomment {
    background: #deebf9
}


ul.children li {
    border-right: none;
    padding-bottom: 1px;
    margin-right: 10rem;
}





 .comment-navigation .newer a, .comment-navigation .older a {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffffa3;
    box-shadow: 0px 0px 6px 1px #044a92ad;
}

.vcard cite {
    margin-left: 10px;
    font-size: 18px;
}

.vcard span {
    font-size: 16px;
    color: #646161;
    margin-left: 5px;
}

li.even p,.bypostauthor p , .comment-body p {
    position: relative;
    font-size: 18px;
    background-color: #ddd;
    margin: 18px 30px;
    text-align: justify;
    line-height: 25px;
    padding: 10px 15px 35px 10px;
    border-radius: 5px;
    word-break: break-all;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}
li.even p::before, .bypostauthor p::before, .comment-body p::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1.5em;
    border: .75rem solid transparent;
    border-top: none;

    border-bottom-color: #ddd;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

ul.children p {
    font-size: 17px;
    background-color: #88888838;
    margin: 16px 30px;
    padding: 10px 10px 50px 10px;
    border-radius: 5px;
    word-break: break-all;
}

.comment-meta, ol.commentlist li small, p.subscribe-to-comments label {
    position: relative
}

.comment-text {
    margin: 0 10px 0 0
}

.reply, .comment-navigation .newer {
    float: right
}

.comment-navigation .newer a, .comment-navigation .older a {
    background: #4c7faa
}

.reply {
    margin: 0 10px 6px 10px;

    position: relative;
    bottom: 55px;
    margin-right: 28px;

}
#cancel-comment-reply-link{
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #ff0000;
    border-radius: 5px;
    box-shadow: 0 0 12px 5px #ecece1;
}
#cancel-comment-reply-link:hover{
    background-color: aqua;
    color: #016;
    box-shadow: 0 0 5px 1px;
}
#commentform p.logged-in-as{
    padding-bottom: 10px;
    text-decoration: none;
}


a.comment-reply-link, .reply a:link,
.comment-navigation .newer a, .comment-navigation .older a {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #012b64;
    border-radius: 3px;
}

a.comment-reply-link, .reply a:link {
    padding: 7px 0
}

a.comment-reply-link, .reply a:link {
    width: 70px;
    margin-right: 15px;
}

a.comment-reply-link:hover, .reply a:hover, .comment-navigation .newer a:hover,
.comment-navigation .older a:hover {
    background: #00ffe7;
    text-decoration: none;
    color: #012b64;
    font-weight: bold;
    border-color: white;
}

a.comment-reply-link:hover, .reply a:hover {
    width: 68px
}
/*input#submit{*/
/*padding: 5px 10px;*/
/*}*/

a.comment-reply-link:hover, .reply a:hover {
    padding: 7px 0
}

a.comment-reply-link:hover, .reply a:hover, .comment-navigation .newer a:hover, .comment-navigation .older a:hover {
    border: 1px solid #fff;
}

.comment-navigation {
    margin: 10px 0 10px 0
}

.comment-navigation:after, #respond:after {
    content: ".";
    height: 0;
    visibility: hidden
}



/*------- END comments section ----------*/
/*----------- about us page -------------*/
.main-about{}
.main-about .main-about-page{
    margin: 50px 0;
}
.main-about .main-about-page .container .about-us{
    margin: 50px 0;
}
.main-about .main-about-page .container .about-us .about-capability{}
.main-about .main-about-page .container .about-us .about-capability .about-content {
    box-shadow: 1px 1px 5px 5px #eee;
    padding: 15px;
    line-height: 32px;
    font-size: 17px;
    word-break: break-all;
    margin-top: 20px;
}
.main-about .main-about-page .container .about-us .about-capability .about-img{}
.main-about .main-about-page .container .about-us .about-capability .about-cap{}
.main-about .main-about-page .container .about-us .about-capability .about-cap .progress{

    background: #012b64;
}





/*----------- END about us page -------------*/