.comments{


    & h3:first-child{
        font-size: 4rem;
        color: #0c6faa;
        text-align: center;
        margin-top: 5rem;
        padding: 2rem 0 1rem 0;
    }

    & hr{
                    width: 15%;
                    margin: 3rem auto;
                    background-color: #00ffe7;
                    border: 3px solid #00ffe7;
                    border-radius: 3rem;
    }

    &__number{
        text-align: right;
        font-size: 1.5rem;
        color: var(--grey-dark-3);
        margin-bottom: 3rem;

        @include respond(phone){
            text-align: center;
        }
    }

    &__commentlist{
        border-bottom: 1px solid #ccc;
        padding: 0 1rem 1rem 1rem;

        @include respond (phone){
            margin: 0;
            padding: 1rem;
        }
        @include respond (tab-port){
            margin: 0;
            padding: 1rem;
        }

            & li.comment{
                border: 1px solid #ccc;
                border-top: 2px solid #05418ba3;
                border-radius: 5px;
                box-shadow: 1px 1px 3px 1px #c5c5bd8c;
                padding: 1rem 0 0 1rem;
                list-style: none;
                border-bottom: none;

            }
            & li.even{
                background: #fff;
                margin-bottom: 3rem;
                margin-right: 5rem;
                padding-bottom: 1rem;

                @include respond(phone){
                    
                }margin-right: 0;
            }
            & li.odd {
                background: #efefef;
                margin-bottom: 3rem;
                margin-right: 1rem;
                padding-bottom: 1rem;
            }
            & li article.comment-body {
                position: relative;
                padding: 1rem 0 1rem 0;

                & footer.comment-meta{
                    position: relative;
                    right: 1.5rem;

                    & .comment-awaiting-moderation{
                        margin: 1rem 5rem;
                        font-size: 1.3rem;
                    }

                    & .comment-author{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        & .fn{
                            margin: 0 1rem;
                            font-size: 1.1rem;
                        }

                        & img {
                            background: #f9f9f9;
                            border-radius: 50%;
                            width: 4rem;
                            height: 4rem;
                            border: 1px solid #ffffffa3;
                            box-shadow: 0px 0px 6px 1px #044a92ad;
                        }

                        & span {
                            font-size: 1.3rem;
                            color: #646161;
                        }
                    }

                    & .comment-metadata {
                        font-size: 1.1rem;

                        & a{
                            margin-right: 4rem;
                            color: var(--grey-light-4);
                        }

                        & span a{
                            margin: 0;
                            
                        }
                    }

                }

                & .reply{
                    display: inline-block;
                    position: absolute;
                    left: 4rem;
                    bottom: 3rem;

                    & .comment-reply-link{
                        
                        margin-right: 1.5rem;
                        display: inline-block;
                        text-align: center;
                        cursor: pointer;
                        color: #fff;
                        background-color: #012b64;
                        border-radius: 3px;
                        padding: 1rem 2rem;
                        transition: all 0.3s;
                    

                        &:hover{
                            background: var(--secondary-color);
                            text-decoration: none;
                            color: var(--primary-color);
                            font-weight: bold;
                            border: 1px solid var(--primary-color);
                            box-shadow: 0 0 6px 1px #9f9f9f;
                        }
                    }
                    }
                }

                & .comment-content{

                    & p{
                        position: relative;
                        font-size: 1.3rem;
                        background-color: #ddd;
                        margin: 2rem 1rem 1rem 0;
                        text-align: justify;
                        line-height: 2.5rem;
                        padding: 1rem 1.5rem 3.5rem 1rem;
                        border-radius: 5px;
                        /* word-break: break-all; */
                        box-shadow: 0 0.125rem 0.5rem #949494, 0 0.0625rem 0.125rem #aeaeae;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 0;
                            bottom: 100%;
                            right: 2.5rem;
                            border: 0.75rem solid transparent;
                            border-top: none;
                            border-bottom-color: #ddd;
                            filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
                        }
                    }
                }
            }

            &__navigation {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0;
            }

            &__alignleft a , &__alignright a{
                font-size: 1.3rem;
                min-width: 2.5rem;
                height: 2.5rem;
                text-decoration: none;
                display: inline-flex;
                background-color: #fff;
                line-height: 25px;
                text-align: center;
                border-radius: 5px;
                margin: 0 7px;
                color: #012b64;
                border: 1px solid #012b64;
                align-items: center;
                justify-content: center;
                padding: 1.5rem;
                transition: all 0.4s ease-in-out;
            
                &:hover {
                  color: #012b64;
                  border-color: #012b64;
                  box-shadow: 0 0 6px 1px #00f4e0;
                }
            }

        }

        #respond{
            padding:  1rem 20rem;

            @include respond(phone){
                padding:  0 2rem;
            }
            @include respond(tab-port){
                padding:  0 3rem;
            }
            & h5{
                text-align: right;
                padding: 5px 0 0 5px;
                margin-bottom: 3rem !important;
                font-size: 3rem;
                color: var(--accent-color);

                @include respond(phone){
                    font-size: 2rem;
                }

                @include respond(tab-port){
                    font-size: 2rem;
                }
            
            }

            & .comment-reply-title{
                font-size: 1.5rem;
                color: orangered;
                text-align: left;

               & a#cancel-comment-reply-link{
                padding: 0.5rem 1rem;
                color: var(--white-color);
                background-color: orangered;
                box-shadow: 0 0 12px 5px #ecece1;
                border-radius: 0.5rem;
                &:hover{
                    color: orangered;
                    background-color: var(--secondary-color);
                    border: 1px solid  orangered;
                    box-shadow: 0 0 5px 1px;
                }
               }

            }

            & form{
                font-size: 1.4rem;

                & .form-control{
                    font-size: 1.5rem;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                }
            }
        }
        
        #commentform p.logged-in-as {
            padding-bottom: 10px;
            text-align: right;
            text-decoration: none;
        }

        .comment-notes, .comment-form-cookies-consent {
            text-align: right;
        }
        #recaptchafield0{
            margin: 2rem;
            text-align: center;

            @include respond(phone){
                transform: scale(0.8);
            }
            @include respond(tab-port){
                transform: scale(0.9);
            }
        }
        .form-submit{
            text-align: center;
        }
        ul.children ul {
            margin-right: 20px;
        }
        ul.children li.odd{
            background: #efefef;
            margin-bottom: 3rem;
            margin-right: 5rem;
            padding-bottom: 1rem;
        }

        [class*="comment-form-"]{
            padding: 1rem 0;
        }
        [class*="comment-form-"] input , [class*="comment-form-"] textarea{
            font-size: 1.3rem;

            @include respond(phone){
                font-size: 1.7rem;
            }
            @include respond(tab-port){
                font-size: 1.7rem;
            }
        }
        
.author-comments{

    &__list{
        padding-inline-start: 0;
        margin: 10px;

        & .comment{
            border: 1px solid #ccc;
            border-top: 2px solid #05418ba3;
            border-radius: 5px;
            box-shadow: 1px 1px 3px 1px #c5c5bd8c;
            padding: 1rem 0 0 1rem;
            list-style: none;
            border-bottom: none;

            & .comment-body {
                position: relative;
                padding: 1rem 0 1rem 0;

                & .comment-author{
                    position: relative;
                    right: 1.5rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    & img {
                        background: #f9f9f9;
                        border-radius: 50%;
                        width: 4rem;
                        height: 4rem;
                        border: 1px solid #ffffffa3;
                        box-shadow: 0px 0px 6px 1px #044a92ad;
                    }

                    & .fn {
                        margin: 0 1rem;
                        font-size: 1.1rem;
                    }
                }
                & .comment-metadata{
                    position: relative;
                    right: 1.5rem;
                    font-size: 1.1rem;

                    & a {
                        margin-right: 4rem;
                        color: var(--grey-light-4);
                    }
                }

                & .comment-awaiting-moderation{
                    margin: 1rem 5rem;
                    font-size: 1.3rem;
                }

                & p {
                    position: relative;
                    font-size: 1.3rem;
                    background-color: #ddd;
                    margin: 18px 3rem;
                    text-align: justify;
                    line-height: 2.5rem;
                    padding: 1rem 1.5rem 3.5rem 1rem;
                    border-radius: 5px;
                    /* word-break: break-all; */
                    box-shadow: 0 0.250rem 1.5rem #949494, 0 0.0625rem 0.125rem #aeaeae;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        bottom: 100%;
                        right: 2.5rem;
                        border: 0.75rem solid transparent;
                        border-top: none;
                        border-bottom-color: #ddd;
                        filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
                    }
                }
            }

        }
    }
}