@keyframes rotateThis {
    from {
      transform: rotate(0deg) scale(1);
    }
  
    to {
      transform: rotate(360deg) scale(1);
    }
  }

  .img-light{
    position: relative;
    overflow: hidden;

    & img{
      width: 100%;
    }

    &:hover::before{
      left: 67rem;
      
    
    }

    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: -70rem;
    width: 20rem;
    height: 80rem;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    z-index: 1111;
    transform: skew(-50deg);
    transition: all 1s ease-in-out;
    }
  }