
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{
    font-size: 62.5%;
    direction: var(--direction);

    @include respond(phone){
        font-size: 50%;
    }
      @include respond(tab-port){
          font-size: 52.25%;
      }
      
    @include respond(desktop){
        font-size: 54.25%;
      }
     
      @include respond(large-desktop){
          font-size: 62.5%;
      }
      @include respond(xlarge-desktop){
        font-size: 65%;
    }
}
body{
    font-family: 'mhdr', tahoma;
    line-height: 1;
    background-color: var(--body-background-color);
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}
.no-gutters{
    margin: 0;
    padding: 0;
}
svg {
    outline: 0;
}




.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: none;
}
/*+++++++++++++ direction +++++++++++++++*/
.dir-l{
    direction: ltr;
}
.dir-r{
    direction: rtl;
}

/*+++++++++++++ float +++++++++++++++*/
.f-l{
    float: left;
}
.f-r{
    float: right;}
/*+++++++++++++ Magins +++++++++++++++*/
.mg10{
    margin: 10px;
}
.mg20{
    margin: 20px;
}
.mg30{
    margin: 30px;
}
.mgb10{
    margin-bottom: 10px;
}
.mgb20{
    margin-bottom: 20px;
}
.mgb30{
    margin-bottom: 30px;
}
.mgr10{
    margin-right: 10px;
}
.mgr20{
    margin-right: 20px;
}
.mgr30{
    margin-right: 30px;
}
.mgl10{
    margin-left: 10px;
}
.mgl20{
    margin-left: 20px;
}
.mgl30{
    margin-left: 30px;
}